/*hopmepage styling*/
.homepagebutton {
  text-align: center;
}

.aboutusbutton1 {
  text-align: center;
}

.aboutusbutton2 {
  text-align: center;
}

.center-btn {
  text-align: center;
}

.backbutton1 {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.clickbelow {
  text-align: center;
  color: white;
}

.or {
  text-align: center;
  color: white;
}

.backhome {
  text-align: right;
  margin-top: auto;
  margin-bottom: relative;
}

.intro0 {
  text-align: center;
  color: white;
}
.intro1 {
  text-align: center;
  color: white;
}

.intro2 {
  text-align: center;
  color: white;
}

.learnbutton {
  text-align: center;
  color: white;
}

.abtus {
  color: white;
}
